@use '../scss/variables';
@use '../scss/mixins';

.outer-header {
    background-color: $black;
    height: 80px;
    max-height: 25vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px !important;
    box-sizing: border-box;
    display: flex;

    .header {
      width: $max1440;
      max-width: $max1440 !important;
      margin: 0 auto;
      background-color: $black;
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;

        @include smMinBreakPoint {
          width: 80%;
          padding-right: 1rem;
          margin-left: 0;
          text-align: left;
      }
        @include mdMaxBreakPoint {
          width: 100%;
          padding-right: 1rem;
          margin-left: 0;
          text-align: left;
      }
      .header-l {
        text-align: left;
        justify-content: space-around;

        @include xxlMinBreakPoint {
          width: 25%;
          justify-content: space-around;

      }
        @include xxlMaxBreakPoint {
          width: 60%;
          justify-content: space-between;
      }
    }
  
      .header-m {
        max-width: 350px;
        display: inline-block;

        .header-search {
          text-align: right;
          max-width: 350px;
  
          @include xxlMinBreakPoint {
            width: 0px;
            display: none;
            visibility: hidden;
            height: 0px;
      
        }
          @include xxlMaxBreakPoint {
            width: 350px;
        }
      }
    }
      .header-r {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: right;
        max-width: 200px;
        display: inline-block;

      }   
    }   
  }

  .logo {
    width: 132px;
    height: 40px;

  }
  
.header-links-b {
    padding-right: 20px;
}

.icons-h {
  width: 30px;
  height: 30px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.mode {
  margin-top: 9px;
  margin-right: 17px;
  position: relative;
  width: 30px;  
  height: 30px;;
}
.moon {
  width: 30px;
  height: 30px;
  position: absolute;
    top: 0px;
    left: 8px;
    max-width: 26px;
    max-height: 26px;
}

.form-control .me-2, input[type=search] {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: $black !important;
  background-color: rgb(37, 34, 34);
  background-image: url('/search-icon-light.png');
  background-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  text-align: left;
}
