$primary-color: white;
$secondary-color: #F2F0F1;
$card-yellow: #FFF5D9;
$card-pink: #FDE6E4;
$card-lavender: #F5EBFC;
$cards-bg: #2F2F2F;
$card-2col: #B5E5E8;
$dark-gray: rgba(20, 26, 22, 1);
$medium-dark-gray: rgba(47, 47, 47, 1);
$light-dark-gray: rgba(47, 47, 47, 1);

//text colors
$black: #000000;
$gray: #333333;
$white: #ffffff;
$orange: #F15A2A;
$presale-color: #B0B0B0;
$featured-card: #F0EEED;
$nav-links-text: rgba(255, 255, 255, 0.8);


// text sizes
$primary-heading: 50px;
$p14: 14px;
$p16: 16px;
$p18: 18px;
$p20: 20px;
$p24: 24px;

$vietnam-pro: 'Be Vietnam Pro', sans-serif;
$poppins: 'Poppins', sans-serif;

$line14: 14px;
$line16: 16px;
$line18: 18px;
$line20: 20px;
$line24: 24px;
$line28: 28px;
$line30: 30px;
$line48: 48px;
$line60: 60px;

$weight4: 400;
$weight5: 500;
$weight6: 600;
$weight7: 700;
$weight8: 800;

$max1440: 1440px;
//screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

